@import '_journal-intro.scss';


// Variables /////////////////////////////////////////////////////////////////////////////////////

$museo: 'MuseoCyrl-500';
$helveticaNbold: 'HelveticaNeueBoldCondensed';
$helveticaNthin: 'HelveticaNeueCyr-Thin';
$helvetica: 'Helvetica';
$arial: 'Arial';


// Colors //
$white: #fff;
$black: #000;
$green: #4eb96f; 
$blue:  #00adee; 
$red:   #f26b69; 
$gray:  #bdc3c7; 
$orange: #ffba00;

// Mixins //
@mixin overlay($color) { // Примесь для синего оверлея
  &:before {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: 1; background: $color; }
}

// Fonts //
@font-face {
  font-family: 'MuseoCyrl-500';
  src: url('../fonts/MuseoCyrl-500.eot');
  src: url('../fonts/MuseoCyrl-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoCyrl-500.woff2') format('woff2'),
       url('../fonts/MuseoCyrl-500.woff') format('woff'),
       url('../fonts/MuseoCyrl-500.ttf') format('truetype'),
       url('../fonts/MuseoCyrl-500.svg#MuseoCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg'),
       url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBoldCondensed';
  src: url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
       url('../fonts/HelveticaNeueBoldCondensed.ttf') format('truetype'),
       url('../fonts/HelveticaNeueBoldCondensed.svg#HelveticaNeueBoldCondensed') format('svg'),
       url('../fonts/HelveticaNeueCondensedBold.eot'),
       url('../fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Journal ///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////
///////// Temp //////////
.layout { width: 100%; height: 100%; overflow: visible;
	&1 {background:transparent url('../img/layouts/1-1.png') 0 0 no-repeat;}
	&2 {background:transparent url('../img/layouts/1-2.png') 0 0 no-repeat;}
	&3 {background:transparent url('../img/layouts/2-1.png') 0 0 no-repeat;}
	&4 {background:transparent url('../img/layouts/2-2.png') 0 0 no-repeat;}
	&5 {background:transparent url('../img/layouts/3-1.png') 0 0 no-repeat;}
	&6 {background:transparent url('../img/layouts/3-2.png') 0 0 no-repeat;}
	&7 {background:transparent url('../img/layouts/4-1.png') 0 0 no-repeat;}
	&8 {background:transparent url('../img/layouts/4-2.png') 0 0 no-repeat;}
	&9 {background:transparent url('../img/layouts/5-1-2.png') 0 0 no-repeat;}
	&10 {background:transparent url('../img/layouts/6-1.png') 0 0 no-repeat;}
	&11 {background:transparent url('../img/layouts/6-2.png') 0 0 no-repeat;}
	&12 {background:transparent url('../img/layouts/7-1.png') 0 0 no-repeat;}
	&13 {background:transparent url('../img/layouts/7-2.png') 0 0 no-repeat;}
	&14 {background:transparent url('../img/layouts/8-1.png') 0 0 no-repeat;}
	&15 {background:transparent url('../img/layouts/8-2.png') 0 0 no-repeat;}
	&16 {background:transparent url('../img/layouts/9-1.png') 0 0 no-repeat;}
	&17 {background:transparent url('../img/layouts/9-2.png') 0 0 no-repeat;}
	&18 {background:transparent url('../img/layouts/10-1.png') 0 0 no-repeat;}
	&19 {background:transparent url('../img/layouts/10-2.png') 0 0 no-repeat;}
	&20 {background:transparent url('../img/layouts/11-1.png') 0 0 no-repeat;}
	&21 {background:transparent url('../img/layouts/11-2.png') 0 0 no-repeat;}
}
/////////////////////////
/////////////////////////



// BookBlock ///////////////////////////////////////////////////////////////////////////////////////////////
.bb-custom-side {
	margin-top: 0;
	margin-bottom: 0;
}
.bb-custom-wrapper>nav {
	width: 100%;
	// width: 100%;

}
.bb-custom-side {
	// margin-top: 15px;
	// margin-bottom: 15px;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	padding: 20px 40px;
	height: auto;
	// margin-right: -1px;
	// width: calc('50%-5px');
// 	align-items: top;
// 	justify-content: left;
}
.bb-custom-wrapper {
	height: 100%;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////






// Indi Styles ////////////////////////////////////////////////////////////////////////////////////////
.container_journal {
	padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 1440px;
    // min-width: 930px;
    @media (max-width: 1000px) {display: none;}
}
.container_mobile-journal {
	padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    display: none;
    @media (max-width: 1000px) {display: block;}
    .stake {width: 100%; margin: 0;}
    .brusov .stake {width: 100%; margin-left: 0;}
    .windserf .stake {width: auto;}
    .tushino_left .stake {width: auto; padding: 20px 20px 0 20px;}
    .tushino_right {padding: 0;}
    .tushino_right .stake {padding: 0 20px 20px 20px; width: 100%;}
    .tushino .title2 {}
    .singlet, .singlet2 {padding: 20px;}
    .singlet .stake {width: auto; margin: 0; padding: initial;}
    .singlet .title1 {margin-bottom: 30px;}
    .singlet2 {height: 100vh;}
    .captain {padding: 20px 0;}
    .captain2 {padding: 20px 0;}
    .captain__intro {width: auto; margin: 40px 0 40px 10%;}
    .captain .stake {width: auto; margin: 0;}
    .captain .title2 {margin-top: 40px;}
    .captain2 .stake {width: auto; margin: 0;}
    .self .stake:nth-child(1) {margin: 5px 0 20px 0;}
    .self .title2 {margin: 20px 0;}
    .self figure {position: relative; margin: 20px 0;}
	.self .stake:nth-child(2) {width: auto; margin: 0;}
	.self .stake:nth-child(3) {width: auto;}
	.self2, .self3 {padding: 0;}
	.self3 {padding-bottom: 40px;}
	.self2 .stake, .self3 .stake {width: auto; margin: 0;}
	.self2 .stake:nth-child(2), .self3 .stake:nth-child(2) {margin: 0;}
	.img13 {display: block; margin: 0 auto 60px;}
	.sea-tatoo {width: auto;}
	.sea-tatoo .stake {width: auto;}
	.tatoos2 .stake:nth-child(2), .tatoos2 .stake:nth-child(3) {margin: 0;}
	.title1_museo {padding-top: 40px;}
	.stake_5-left {padding: 0;}
	.sea__container {width: auto; margin: 20px;}
	.sea__title {margin-top: 20px;}
	.sea__text {margin: 20px 0 260px;}
	.sea:before {display: none;}
	.stake_5-right {margin-top: 40px;}
	.img9 {margin-top: 20px;}
	.img7 { margin-top: 20px;}
	.img5 {}
	.img4 {}
	.stake {padding: 0 20px;}
	.childhood .title1, .childhood .subtitle, .childhood .img1 {padding: 0 20px;}
	.windserf {padding: 20px;}
	.windserf .stake {padding: 0;}
	.brusov__intro, .windserf__intro, .windserf__outro, .self__intro {width: auto;}
	.brusov {padding: 20px;}
	.brusov .stake {padding: 0;}

}




// Text Elements /////////////////
html, body {font-size: 72.5%;
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: $helveticaNthin;
		font-size: 1.2rem;
		color: $black;
		line-height: 1;

		p {line-height: 1.5;}
	}
	// @media (max-width: 720px) {font-size: 62.5%;}
	// @media (min-width: 721px) {font-size: 72.5%;}
	// @media (min-width: 1024px) {font-size: 82.5%;}
	@media (max-width: 1000px) {font-size: 82.5%;}
}

h1 {
	// font-family: $helveticaNbold;
	font-family: $helvetica;
	font-weight: bold;
	font-size: 2.8rem;
	display: block;
	position: relative;
	margin: 10px 0;
}

.title1 {
	@extend h1;
	&:after {
		content: "";
		display: block;
		position: absolute;
		border-top: 1px solid $blue;
		width: 46px;
		bottom: -8px;
	}
}

.subtitle {
	font-size: 2.2rem;
}

.title1_museo {font-family: $museo; font-size: 3.4rem; font-weight: normal; margin-top: 40px; margin-bottom: 20px;}

.title2 {
	// font-family: $helveticaNbold;
	font-family: $helvetica;
	font-weight	: bold;
	font-size: 2.2rem;
	margin-bottom: 25px;
	margin-top: 30px;
	display: block;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		border-top: 1px solid $blue;
		width: 46px;
		bottom: -8px;
	}
}

h2 {
	&.subtitle2 {font-family: $helvetica; font-size: 1.6rem; z-index: 5; font-weight: 600;}
}

h3, .title3 {
	font-family: $helvetica;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 35px 0 20px 0;
	&.title_bold {
		// font-family: $helveticaNbold;
		font-family: $helvetica;
		font-weight: bold;
		font-size: 1.6rem; 
		margin-bottom: 5px;
	}
}



.subtitle3 {
	@extend .title3;
	font-size: 1.2rem;
}

.marginTop25 {
	    margin-top: 25px;
}

.text {
	font-family: $helveticaNthin;
	font-size: 1.4rem;
	margin-bottom: 15px;
	color: $black;
	line-height: 1.5;
	p {line-height: 1.5;}
}
.links {
	font: italic 1.2rem "Helvetica";
	word-wrap: break-word;
}

.property {
	font-family: $helvetica;
	font-size: 1.2rem;

}
//////////////////////////////


// Navigation ///////////////
.bb-custom-wrapper> {
	width: 100vw; min-height: 100vh; top: 0; bottom: 0; margin: 0;

	.nav_next {
		position: fixed; 
		z-index: 10000;
		top: 0; 
		bottom: 0; 
		right: 0;
		width: 160px;
		height: 100vh;
		margin: 0;
		background: $gray; 
		opacity: 0;
		&:hover {opacity: .6;}
		transition: all .2s ease;
	}
	.nav_prev {
		@extend .nav_next;
		left: 0;
		right: auto;
	}
}
.nav__icon {
		color: $white;
		font-size: 80px;
		position: absolute;
		top: 40%;
		left: 40px;
		right: 40px;
}
/////////////////////////////



// Images ////////////////////
.img {
	&1 {
		height: 120px;
		display: inline-block;
		margin: 10px 20px 10px 0px;
		float: left;
		@media (max-width: 1325px) {float: none; display: block;}
	}
	&2 {width: 100%; margin-top: 15px; margin-bottom: 25px;}
	&3 {width: 100%; margin-top: 15px; margin-bottom: 0px;}
	&4 {width: 100%; margin-top: 15px; margin-bottom: 45px;}
	&5 {margin-bottom: 15px; width: 100%;}
	&6 {width: 100%;}
	&7 {margin-bottom: 15px; width: 100%;}
	&8 {margin-bottom: 25px; width: 100%;}
	&9 {width: 100%; margin-bottom: 15px;}
	&10 {margin-bottom: 10px; width: 100%;}
	&11 {width: 100%;}
	&12 {margin-bottom: 10px; margin-top: 10px; width: 100%;}
	&13 {margin-top: 60px;}
	&14 {height: 100%;}
	&15 {width: 100%; margin-top: 20px;}

}
//////////////////////////////



// Columns (Stakes) ///////////
.stake {display: inline-block; vertical-align: top;
	&_small {width: 35%;;}
	&_big {width: 60%;}
	&_1-left {
		margin-left: 2%;
	    margin-top: 16px;
	    margin-right: 0;
	}
	&_1-right {
		margin-left: 8%;
	    margin-top: 16px;
	    margin-right: 0;
	    vertical-align: top;
	}
	&_2-left {
		margin-top: 16px;
	}
	&_2-right {
		margin-top: 25px;
		margin-left: 4%;
	}
	&_3-left {
		margin-left: 1%;
		margin-top: 1%;
		h3 {margin-bottom: 10px;}
		.text {margin-bottom: 20px;}
	}
	&_3-right {
		margin-top: 1%;
		margin-left: 3%;
		h3 {margin-bottom: 10px;}
		.text {margin-bottom: 20px;}
	}
	&_4-left {
		width: 35%;
	}
	&_4-right {
		margin-top: 15px;
		margin-left: 4%;
	}
	&_5-left {padding-left: 20px;}
	&_5-right {
		margin-left: 3%;
	}
	&_6-left {}
	&_6-right {
		margin-left: 10px;
	}
	&_third {width: 26%; margin-left: 5%;}
}




// Excludes ///////////////////
.childhood {
	.title1:after {bottom: -3px;}
}

.childhood5 {padding: 0;}

.sea-tatoo {
	position: relative;
	width: 50%;
	margin-left: 0;
	background: transparent url('../img/journal/holdfast.jpg') 0 0 no-repeat;
	background-size: 100%;
	@include overlay(rgba(darken($gray, 50%), 0.5));
	text-align: center;
	* {color: $white;}
	h2 {position: relative;}
	.text {position: relative; font-size: 1.4rem; margin-bottom: 20px; line-height: 1.5;
		&__intro {font-style: italic; font-family: $helveticaNthin; font-size: 1.4rem;}
	}
	.stake {text-align: left; width: 44%;}
	&__intro {text-align: left; width: 90%; display: inline-block; font-style: italic; margin-bottom: 20px;
		.text {font-family: $helveticaNthin;}
	}
	&__line {display: inline-block; position: relative; width: 90px; height: 1px; background: $white; margin: 30px 0 20px 0;}
}

.tatoos {
	.text {font-family: $helveticaNthin; font-size: 1.4rem; margin-bottom: 20px;
		i {font-size: 1.4rem;}
	}
}

.tatoos2 {
	@extend .tatoos;
	.stake {
		&:nth-child(2) {margin-top: 40px;}
		&:nth-child(3) {margin-top: 80px;}
	}
}

.sea {
	// height: 130%;
	background:transparent url('../img/journal/sea.jpg') 0 0 no-repeat;
	// background-size: 100% 100%;
	background-position: center;
	background-size: cover;
	@include overlay(rgba($gray, 0.1));
	&__container {width: 50%; text-align: center; margin: 20px 20px 10px 40px;}
	&__title { display: inline-block; text-align: center;
		h1 {font-family: $helveticaNthin; font-size: 3.4rem; font-weight: normal;}
		h2 {font-family: $helveticaNthin; font-size: 3rem; font-weight: normal;}
	}
	&__text { display: inline-block; margin: 20px 0 0 20px;
		font-family: $helveticaNthin;
		font-size: 1.6rem;
		line-height: 1.5;
		text-align: left;
	}
}

.brusov {
	.title2 {font-size: 2.2rem;}
	padding: 40px;
	&__intro {
		font: italic 1.2rem $helvetica;
		width: 55%;
		margin: 20px 0 20px 0;
	}
	.stake {
		width: 65%;
		margin-left: 35%;
		margin-top: 15px;
	}
	.text {
		font-size: 1.4rem;
		text-align: justify;
	}
	.link-wrapper {margin-top: 20px;}
	.link, .link>a {font: italic 1.4rem $helvetica; word-wrap: break-word;}
	.link_desc {font-style: normal;}
}

.windserf {
	.title2 {font-size: 2.2rem;}
	position: relative;
	padding: 20px 50px;
	background:transparent url('../img/journal/windserf.jpg') left top no-repeat;
	background-size: 100% 100%;
	@include overlay(rgba(lighten($gray, 80%), 0.7));
	&__intro {
		position: relative;
		@extend .brusov__intro;
		width: 45%;
	}
	.stake {
		position: relative;
		margin-top: 15px;
		width: 70%;
	}
	.text {
		position: relative;
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
	&__outro {
		position: relative;
		@extend .windserf__intro;
		width: 100%;
	}
}

.tushino {
	.title2 {font-size: 2.2rem; margin-bottom: 25px;}
	&_left {
		padding: 0;
		.stake {display: inline-block; width: calc(100% - 200px); padding: 0px 0 0 20px;}

	}
	&_right {
		padding: 0;
		padding-left: 40px;
		.stake {display: inline-block; width: 40%; padding: 25px 0 0 15px;}
		// .title3 {
		// 	position: relative;
		// 	margin-bottom: 5px;
		// 	&:after {
		// 		content: "";
		// 		display: block;
		// 		position: absolute;
		// 		border-top: 1px solid $blue;
		// 		width: 26px;
		// 		bottom: -4px;
		// 		margin-bottom: 4px;
		// 	}	
		// }
	}
	&__pic-left {
		height: 150vh;
		width: 200px;
		float: left;
		display: inline-block;
		background:transparent url('../img/journal/water.jpg') left top no-repeat;
		background-size: 100% 100%;
		position: relative;
		@include overlay(rgba(lighten($blue, 80%), 0.7));
	}
	&__pic-right {
		height: 150vh;
		width: 80px;
		float: right;
		display: inline-block;
		position: relative;
		@include overlay(rgba(darken($blue, 30%), 0.2));
	}

	.text {
		margin-bottom: 15px;
	}
}

.singlets {
	// background: rgba(darken($blue, 30%), 0.2);
}

.singlet {
	position: relative;
	@include overlay(rgba(darken($blue, 30%), 0.2));
	padding: 10px 35px;
	.stake {
		position: relative;
		width: 45%;
		margin-top: 10px;
		margin-right: 4%;
	}
	.text {
		position: relative;
		margin-bottom: 15px;
		b {font: bold 1.5rem $helveticaNthin;}
	}
}

.singlet2 {
	@extend .singlet;
	position: relative;
	@include overlay(rgba(darken($blue, 30%), 0.2));
	// padding: 0;
	// height: 130%;
	background:transparent url('../img/journal/k1.jpg') left top no-repeat;
	background-size: 100% 130%;
	.hidden-text {opacity: 0;}
}

.captain {
	text-align: center;
	padding: 20px 50px;
	h1 {
		font: bold 2.5rem $helvetica;
	}
	.title2 {
		font-size: 2rem;
		margin-bottom: 10px;
		&:after {bottom: -3px;}
	}
	&__intro {
		text-align: left;
		font: italic 1.2rem $helvetica;
		width: 70%;
		margin: 40px 0 40px 15%;
	}
	.stake {
		width: 40%;
		text-align: left;
		margin-left: 20px;
		&:nth-child(1) {margin-left: 15%;}
	}
	.text {margin-bottom: 10px;}

}

.captain2 {
	padding: 30px 10px;
	.stake {
		width: 30%;
		margin-right: 2.8%;
	}
	.text {
		margin-bottom: 15px;
	}

}

.schools {
	height: 155%;
	position: relative;
	background:transparent url('../img/journal/port.jpg') left top no-repeat;
	background-size: 100% 100%;
	padding: 20px 40px;
	h3 {color: $white; font-weight: normal;}
	.link, .link>a {color: lighten($blue, 20%); font: italic 1rem $helvetica; margin-bottom: 30px;}
}

.self {
	position: relative;
	figure {display: inline-block; position: absolute; top: 20px; left: 20px;}
	figcaption {
		font: normal 1rem $helvetica;
		margin: 10px 22px;
		line-height: 1.5;
		b {font: bold 1rem $helvetica;}
	}
	&__intro {
		text-align: left;
		font: italic 1.4rem $helvetica;
		width: 85%;
		line-height: 1.5;
	}
	.title2 {margin-bottom: 50px; font-size: 2.2rem; font-style: normal;} 
	h3 {position: relative; font-size: 1.8rem;}
	.subtitle {font-size: 2rem;}
	.stake {
		&:nth-child(1) {margin-left: 220px; margin-top: 5px; margin-bottom: 80px;}
		&:nth-child(2) {width: 40%; margin-right: 10%;}
		&:nth-child(3) {width: 40%; margin-top: 10px;}
	}
	.text {font-size: 1.4rem;}

}

.self2 {
	padding-left: 60px;
	position: relative;
	@include overlay(rgba($gray, 0.04));
	.stake {width: 45%;
		&:nth-child(2) {margin-left: 6%;}
	}
	.help-text {font: italic 1.2rem $helvetica; margin-bottom: 40px;}
	.title3 {position: relative; font-size: 1.8rem;}
	.subtitle {font-size: 2rem;}
	ol {margin-left: 20px;}
	li {margin: 4px 0; padding-left: 10px; line-height: 1.5; font-size: 1.4rem;}
	.text {margin-bottom: 30px; font-size: 1.4rem;}
}

.self3 {
	@extend .self2;
	// li {font-size: 1rem;}
}



////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Sidebar //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

// SIZES
$width__sidebar: 80vw;

.sidebar__toggle {
  position: fixed;
  z-index: 50000;
  // border: 4px solid $white;
  border: 0;
  outline: none;
  width: 42px;
  height: 42px;
  // border-radius: 50%;
  margin-left: $width__sidebar + 1vw;
  margin-top: 1vw;
  background-color: $white;
  transform: rotate(0deg);
  cursor: pointer;
  transition: .8s;
  .sidebar__angle {
  	border: 2px solid $green;
    position: absolute;
    width: 13px;
    height: 10px;
    transition: all .2s ease;
    &_lt {left: 0; top: 0; border-right: none; border-bottom: none;}
    &_rt {right: 0; top: 0; border-left: none; border-bottom: none;}
    &_lb {left: 0; bottom: 0; border-right: none; border-top: none;}
    &_rb {right: 0; bottom: 0; border-top: none; border-left: none;}
  }
  &:hover {
  	.sidebar__angle {
	    &_lt {width: 90%; height: 20%;}
	    &_rt {width: 10%; height: 80%;}
	    &_lb {width: 10%; height: 80%;}
	    &_rb {width: 90%; height: 20%;}
	  }
  }
  
  // &.is-closed {
  //   transform: translateX(0px) rotate(-45deg);  
  // }
  
  .sidebar__icon {
  	display: inline-block;
    font-size: 2.5rem;
    color: $green;
    transition: .8s;
    &.is-closed {
    	transform: translateX(0px) rotate(-45deg);  
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50000;
  width: $width__sidebar;
  height: 100vh;
  background-color: $green;
  transition: .7s;
  
  &.is-closed {
    transform: translateX(-80vw);
  }

  &__list {
  	height: 100%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	padding: 40px;
  }
  &__item {
  	display: block; 
  	margin: 10px 0; 
  	
  	border-radius: 3px; 
  	border: 1px solid $white;
	&:hover {color: $green; background-color: $white;
		.sidebar__link {color: $green;}
	}
  }
  &__link {
  	font-size: 1.4rem;
  	color: $white;
  	display: block;
  	padding: 10px;
	height: 100%;
	width: 100%;
	@media (max-width: 600px) {font-size: 1rem;}
  }
}



// Page separation ///////////////////////////////////////////////////////////////////
.mobile-page {display: none;}
.container_mobile-journal[data-show="page1"] .mobile-page#mobile-1 { display: block; }
.container_mobile-journal[data-show="page2"] .mobile-page#mobile-2 { display: block; }
.container_mobile-journal[data-show="page3"] .mobile-page#mobile-3 { display: block; }
.container_mobile-journal[data-show="page4"] .mobile-page#mobile-4 { display: block; }
.container_mobile-journal[data-show="page5"] .mobile-page#mobile-5 { display: block; }
.container_mobile-journal[data-show="page6"] .mobile-page#mobile-6 { display: block; }




// Prev and Next mobile links ////////////////////////////////////////////////////////
.mobile-nav {
	margin: 40px 10px 0 10px;
	&__left {width: 40vw; float: left;}
	&__right {width: 40vw; float: right;}
	// &__link {display: block; width: 100%; height: 100%; background: $green; border-radius: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center;
	// 	&:hover {background: $blue;
	// 		.mobile-nav__icon {transform: scale(1.1);}
	// 	}
	// }
	&__link {font-size: 1.2rem; line-height: 1.2; color: $green; border-bottom: 1px solid rgba($green, 0.4);
		&:hover {color: $green; border-bottom: 1px solid rgba($green, 0.8);}
	}
	&__icon {color: $white; font-size: 100px; margin-bottom: 5px;}
}














////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Хедер ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

.container_header {padding: 0 150px;
	@media (max-width: 1000px) {padding: 0;}
}

.header {padding: 40px 0 35px;
  @media (max-width: 1000px) {text-align: center;}
  &_absolute {position: absolute; z-index: 10; width: 100%; background: linear-gradient(to bottom, #000, transparent);}
}
.header__logo {float: left;
  @media (max-width: 1000px) {float: none; display: inline-block;}
}
.header__rlink {float: left; margin: 13px 0px 0px 45px;
  @media (max-width: 1000px) {margin: 30px 0px 30px 0px !important; float: none;}
  // @media (max-width: 970px) {width: 100%; margin: 30px 0px !important;}
}
.header__menu {float: left; margin: 15px 0px 0px 85px;
  @media (max-width: 1000px) {float: none; margin: 0 !important;}
  // @media (max-width: 970px) {width: 100%; text-align: center; padding: 0; margin: 0 !important;}
}

/* Ссылки пользователя в шапке (User links) */
.header__ulinks {float: right; margin: 0;
  @media (max-width: 1000px) {float: none; margin: 30px 0;}
}
.ulinks {font: normal 16px $helvetica;}
.ulinks__list {}
.ulinks__item {display: inline-block;
	.button {padding: 14px;
		&:hover {color: $white; box-shadow: 0 0 10px $gray;}
	}
}
.ulinks__link {/*border-bottom: 1px solid rgba(0,0,0,0.6);*/ display: inline-block; color: $green; position: relative; cursor: pointer;}
.ulinks__link_in {border-bottom: 1px solid $green;}
.ulinks__line {color: $green; display: inline-block; margin: 0 5px;}

.ulinks__list_auth {}
.ulinks__list_auth .ulinks__item {}
.ulinks__list_auth .ulinks__link-auth {background: url(/images/sprite.png) -1040px 0px; width: 31px; height: 31px; display: block; position: absolute; top: -8px; left: -2px; cursor: pointer;}
.ulinks__list_auth .ulinks__link_auth {border-bottom: none; margin-right: 15px;}
.ulinks__list_auth .ulinks__line {}

////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Логотип //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

.logo {}
.logo__link {display: block; border-bottom: none; width: 134px; height: 46px; background: url(../img/logo.png) no-repeat 0 0; background-size: contain;}

.logo_journal {}
.logo_journal .logo__link {background: url(../img/logo-j.png) no-repeat 0 0;}

////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Ссылка "Разместить резюме" ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

.rlink {font-size: 18px; color: $blue; padding: 12px 15px; border: 1px solid transparent;}
.rlink:hover {border-color: $blue;}
.rlink__plus {font: 300 32px/16px $helvetica; vertical-align: top;}

////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Меню /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

.menu {}

/* Меню
  В хедере */
.menu_header {}
.menu_header .menu__list {}
.menu_header .menu__item {display: inline-block;
  // @media (max-width: 1000px) {display: block; margin-bottom: 10px;} // Сережа Громков: закомментировал, чтобы выводились в одну строку
}
.menu_header .menu__item + .menu__item {margin-left: 25px;
  // @media (max-width: 1000px) {margin-left: 0; margin-bottom: 10px;} // Сережа Громков: закомментировал, чтобы выводились в одну строку
}
.menu_header .menu__link {color: $gray; border-bottom: 1px solid rgba(152, 152, 152, 0.2); font-size: 1.4rem;}
.menu_header .menu__link:hover {border-bottom-color: rgba(152, 152, 152, 1);}
.menu_header .menu__item_list > .menu__link {position: relative; padding-right: 13px;}
.menu_header .menu__item_list > .menu__link:after {border: 5px solid transparent; border-top: 5px solid $gray; content: ''; position: absolute; top: 50%; right: 0; margin-top: -3px;}
.menu_header .menu__item_list > .menu__link:hover:after {}

.menu_header_journal .menu__link {font-size: 18px; padding: 12px 25px 11px; border: 1px solid transparent; display: block;}
.menu_header_journal .menu__link:hover {border-color: #000; color: #000;}
.menu_header_journal .menu__item_active .menu__link {border-color: #000; color: #000;}
.menu_header_journal .menu__item + .menu__item {margin-left: 30px;}


////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Buttons (Кнопки) +Components //////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

@mixin button-anim($color) { position: relative; // Примесь для анимации кнопок
  &:after {content: ''; position: absolute; z-index: 10000; left: -10px; top: -10px; right: -10px; bottom: -10px; width: auto; height: auto; border: 1px solid $color; opacity: 0; border-radius: 2px;}
  &:hover:after {transition: all .4s linear; left: 0px; top: 0px; right: 0px; bottom: 0px; opacity: 1; border-width: 1px;}
}

.button {

  // Общие стили:
  transition: all 0.2s ease; text-align: center; border-radius: 2px; padding: 14px 55px; display: inline-block; font: normal 16px/1 $helvetica; position: relative; cursor: pointer; border: none;

  // Цвет - по умолчанию (зеленый):
  background-color: $green; &:hover {background-color: $green; @include button-anim($green);}
  color: $white;
  
  // Пример записи в HTML:
  // <a class="button green hover-blue active-red">Text</a>

  // Default button colors (Цвет кнопок по умолчанию)
  &.green {background-color: $green; &:hover {background-color: $green; @include button-anim($green);} }
  &.blue  {background-color: $blue;  &:hover {background-color: $blue; @include button-anim($blue);} }
  &.red   {background-color: $red;   &:hover {background-color: $red; @include button-anim($red);} }
  &.gray  {background-color: $gray;  &:hover {background-color: $gray; @include button-anim($gray);} }
  &.white {background-color: $white; &:hover {background-color: $white; @include button-anim($white);} }
  &.black {background-color: $black; &:hover {background-color: $black; @include button-anim($black);} }
  
  // Hover colors
  &.hover-blue  {&:hover {background-color: $blue; @include button-anim($blue);} }
  &.hover-green {&:hover {background-color: $green; @include button-anim($green);} }
  &.hover-red   {&:hover {background-color: $red; @include button-anim($red);} }
  &.hover-gray  {&:hover {background-color: $gray; @include button-anim($gray);} }
  &.hover-white {&:hover {background-color: $white; @include button-anim($white);} }
  &.hover-black {&:hover {background-color: $black; @include button-anim($black);} }

  // Active colors (Цвета кнопок при клике)
  &.active-red    {&:active {background-color: $red;} }
  &.active-green  {&:active {background-color: $green;} }
  &.active-blue   {&:active {background-color: $blue;} }
  &.active-gray   {&:active {background-color: $gray;} }
  &.active-white  {&:active {background-color: $red;} }
  &.active-black  {&:active {background-color: $black;} }

  // Text colors (Цвета текста)
  &.text-blue   {color: $blue;}
  &.text-green  {color: $green;}
  &.text-red    {color: $red;}
  &.text-gray   {color: $gray;}
  &.text-white  {color: $white;}
  &.text-black  {color: $black;}

  // Прозрачные /////////////////////////////////////////////////////////////////////////////////
  &_transparent {border: 1px solid;

    // Default button colors (Цвет кнопок по умолчанию)
    &.green {background: transparent; border-color: $green; color: $green; &:hover {background-color: $green; @include button-anim($green); color: $white;} }
    &.blue  {background: transparent; border-color: $blue;  color: $blue;  &:hover {background-color: $blue; @include button-anim($blue); color: $white;} }
    &.red   {background: transparent; border-color: $red;   color: $red;   &:hover {background-color: $red; @include button-anim($red); color: $white;} }
    &.gray  {background: transparent; border-color: $gray;  color: $gray;  &:hover {background-color: $gray; @include button-anim($gray); color: $white;} }
    &.white {background: transparent; border-color: $white; color: $white; &:hover {background-color: $white; @include button-anim($white); color: $black;} }
    &.black {background: transparent; border-color: $black; color: $black; &:hover {background-color: $black; @include button-anim($black); color: $white;} }

    // Hover colors
    &.hover-blue  {&:hover {background-color: $blue; @include button-anim($blue);   color: $white; border-color: $blue;} }
    &.hover-green {&:hover {background-color: $green; @include button-anim($green); color: $white; border-color: $green;} }
    &.hover-red   {&:hover {background-color: $red; @include button-anim($red);     color: $white; border-color: $red;} }
    &.hover-gray  {&:hover {background-color: $gray; @include button-anim($gray);   color: $white; border-color: $gray;} }
    &.hover-white {&:hover {background-color: $white; @include button-anim($white); color: $black; border-color: $white;} }
    &.hover-black {&:hover {background-color: $black; @include button-anim($black); color: $white; border-color: $black;} }

    // Active colors (Цвета кнопок при клике)
    &.active-red    {&:active {background-color: $red;   color: $white;} }
    &.active-green  {&:active {background-color: $green; color: $white;} }
    &.active-blue   {&:active {background-color: $blue;  color: $white;} }
    &.active-gray   {&:active {background-color: $gray;  color: $white;} }
    &.active-white  {&:active {background-color: $white; color: $white;} }
    &.active-black  {&:active {background-color: $black; color: $white;} }

    // Text colors (Цвета текста)
    &.text-blue   {color: $blue;}
    &.text-green  {color: $green;}
    &.text-red    {color: $red;}
    &.text-gray   {color: $gray;}
    &.text-white  {color: $white;}
    &.text-black  {color: $black;}
  }

}  
